
.banner {
    width: 1080px;
    margin: 100px auto;
    display: flex;
  }
  .banner-left{
    display: flex;
    flex-direction: column;
  }
  .banner-lt{
    width: 700px;
    height: 300px;
    margin-bottom: 60px;
  }
  .banner-lb{
    display: flex;
    justify-content: space-between;
  }
  .banner-lb img,.banner-right img {
    width: 340px;
    height: 175px;
  }
  .banner-right{
    padding: 0 15px;
  }