*{
    text-decoration: none;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3333;
}
.logo-shop img{
    width: 120px;
    height: 100px;
}
.user{
    width: 300px;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 15px;
}
.link{
    color: #000;
    height: 70px;
    line-height: 70px;
    padding: 5px;
    font-size: 20px;
}
.link:hover{
    background-color: rgb(243, 180, 180);
    
}