body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 1080px;
    margin: 0 auto;
    background-color: #ffffff;
}
.between-between {
    display: flex;
    justify-content: space-between;
}
.page-product{
    padding-top: 100px;
    width: 100%;
    background-color: #dbc5c5;
}
.product-info{
    padding: 15px;
}
.gallery{
    width: 400px;
    padding: 50px;
}
.product-detail{
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-detail > img:nth-child(2) ,.page-detail > img:nth-child(1){
    width: 150px;
    height: 500px;
    padding: 35px;
}

.product-brand{
    font-size: 20px;
}
.product-brand h2{
    margin: 0 0 20px 0;

}
.product-brand > span:nth-child(2) {
    display: block;
    padding-bottom: 20px;
}
.product-brand span:last-child span {
    display: inline;
    background-color: rgb(238, 77, 45);
    border-radius: 5px;
    padding: 0.1875rem 0.25rem;
    margin-right: 5px;
}
.product-price h1{
    color: red;
}
.product-price h4 {
    color: #999;
    text-decoration: line-through;
    display: inline;
}
.product-price h3{
    margin-left: 10px;
    color: red;
    display: inline;
    font-size: 18px.72;
    background-color: rgb(255, 215, 215);
}
.product-quantity{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}
.product-quantity .value-order {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.value-order button{
    font-size: 30px;
    align-items: center;
}
.product-buy button{
    padding: 10px 20px;
    cursor: pointer;
    width: 250px;
}
.details{
    margin: 30px 40px 0 40px;
    padding: 10px;
}
.description{
    margin: 0 40px;
    padding: 10px;
}
.description img {
    width: 100%;
}
.paragraph{
    font-size: 20px;
}