.container {
  width: 1080px;
  margin: 0 auto;
  background-color: aliceblue;
}
body {
  background-color: #333;
}
.center-center{
  display: flex;
  justify-content: space-between;
}
.banner {
  width: 100%;
}
.banner-left {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.banner-lb img{
  width: 50%;
  display: flex;
}
.banner-right {
  margin-left: 20px;
}
.banner-right img {
  height: 150px;
  width: 100%;
}